<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhwl.home_server.mapper.shopaudit.ShopAuditMapper">

    <!--表名 -->
    <sql id="tableName">
    t_shop_audit
    </sql>


    <sql id="Field">
            shop_basic_id,
            application_person,
            application_time,
            application_description,
            audit_status,
            audit_opinion,
            audit_time,
            audit_result,
        id
    </sql>

    <resultMap id="BaseResultMap" type="ShopAudit">
        <id column="id" property="id"/>
        <result column="shop_basic_id" property="shopBasicId"/>
        <result column="application_person" property="applicationPerson"/>
        <result column="application_time" property="applicationTime"/>
        <result column="application_description" property="applicationDescription"/>
        <result column="audit_status" property="auditStatus"/>
        <result column="audit_opinion" property="auditOpinion"/>
        <result column="audit_time" property="auditTime"/>
        <result column="audit_result" property="auditResult"/>
    </resultMap>

    <!-- 新增-->
    <insert id="save" parameterType="ShopAudit">
        INSERT INTO
        <include refid="tableName"></include>
        (<include refid="Field"></include>)
        VALUES
        (
        #{shopBasicId},
        #{applicationPerson},
        #{applicationTime},
        #{applicationDescription},
        #{auditStatus},
        #{auditOpinion},
        #{auditTime},
        #{auditResult},
    #{id}
        )
    </insert>

    <!--删除-->
    <delete id="deleteOne" parameterType="String">
        delete from
        <include refid="tableName"></include>
        where id = #{value}
    </delete>

    <!--修改-->
    <update id="updateBySelective" parameterType="ShopAudit">
        update
        <include refid="tableName"></include>
        set
        id=#{id}
        <if test="shopBasicId != null">, shop_basic_id=#{shopBasicId}</if>
        <if test="applicationPerson != null">, application_person=#{applicationPerson}</if>
        <if test="applicationTime != null">, application_time=#{applicationTime}</if>
        <if test="applicationDescription != null">, application_description=#{applicationDescription}</if>
        <if test="auditStatus != null">, audit_status=#{auditStatus}</if>
        <if test="auditOpinion != null">, audit_opinion=#{auditOpinion}</if>
        <if test="auditTime != null">, audit_time=#{auditTime}</if>
        <if test="auditResult != null">, audit_result=#{auditResult}</if>
        WHERE
        id=#{id}
    </update>

    <!--条件查询-->
    <select id="selectBySelective" parameterType="ShopAudit" resultType="ShopAudit">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        <where>
            <if test="shopBasicId != null">AND shop_basic_id=#{shopBasicId}</if>
            <if test="applicationPerson != null">AND application_person=#{applicationPerson}</if>
            <if test="applicationTime != null">AND application_time=#{applicationTime}</if>
            <if test="applicationDescription != null">AND application_description=#{applicationDescription}</if>
            <if test="auditStatus != null">AND audit_status=#{auditStatus}</if>
            <if test="auditOpinion != null">AND audit_opinion=#{auditOpinion}</if>
            <if test="auditTime != null">AND audit_time=#{auditTime}</if>
            <if test="auditResult != null">AND audit_result=#{auditResult}</if>
            <if test="id != null">AND id=#{id}</if>
        </where>
    </select>

    <!--条件查询-->
    <select id="getShopAuditByPage" parameterType="Page" resultType="ShopAudit">
        select sa.shop_basic_id, sa.application_person, sa.application_time, sa.application_description, sa.audit_status, sa.audit_opinion, sa.audit_time, sa.audit_result,id
        from
        <include refid="tableName"/> AS sa
        <where>
            <if test="pd.entity.shopBasicId != null">AND sa.shop_basic_id=#{pd.entity.shopBasicId}</if>
            <if test="pd.entity.applicationPerson != null">AND sa.application_person=#{pd.entity.applicationPerson}</if>
            <if test="pd.entity.applicationTime != null">AND sa.application_time=#{pd.entity.applicationTime}</if>
            <if test="pd.entity.applicationDescription != null">AND sa.application_description=#{pd.entity.applicationDescription}</if>
            <if test="pd.entity.auditStatus != null">AND sa.audit_status=#{pd.entity.auditStatus}</if>
            <if test="pd.entity.auditOpinion != null">AND sa.audit_opinion=#{pd.entity.auditOpinion}</if>
            <if test="pd.entity.auditTime != null">AND sa.audit_time=#{pd.entity.auditTime}</if>
            <if test="pd.entity.auditResult != null">AND sa.audit_result=#{pd.entity.auditResult}</if>
            <if test="pd.entity.id != null">AND sa.id=#{pd.entity.id}</if>
        </where>
    </select>

    <!--批量插入操作-->
    <insert id="saveByList" parameterType="ShopAudit">
        INSERT INTO
        <include refid="tableName"></include>
        (<include refid="Field"></include>)
        VALUES
        <foreach item="t" index="index" collection="list" separator=",">
            (
            #{t.shopBasicId},
            #{t.applicationPerson},
            #{t.applicationTime},
            #{t.applicationDescription},
            #{t.auditStatus},
            #{t.auditOpinion},
            #{t.auditTime},
            #{t.auditResult},
            #{t.id}
            )
        </foreach>
    </insert>

    <!--批量删除操作-->
    <delete id="deleteArray" parameterType="String">
        delete from
        <include refid="tableName"></include>
        where
        id in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
        #{item}
        </foreach>
    </delete>
    <!--修改商家的角色、修改表：sys_user_role-->
    <update id="auditShop" parameterType="map">
        UPDATE sys_user_role AS sur
--         LEFT JOIN sys_user AS su  ON sur.sys_user_id = su.id
        LEFT JOIN t_shop_basic AS sb on sur.sys_user_id = sb.sys_user_id
        SET
          sur.role_id = #{roleId}
        WHERE
          sb.id = #{shopId}}
    </update>
</mapper>