<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhwl.home_server.mapper.serviceinfo.ServiceInfoMapper">

    <!--表名 -->
    <sql id="tableName">
        t_service_info
    </sql>

    <sql id="field">
        service_name,
        service_icon,
        service_img,
        service_img_key,
        price,
        price_unit,
        service_content,
        remark,
        is_online,
        service_category_id,
        shop_basic_id,
        is_delete,
        add_time,
        update_time,
        id
    </sql>
    <sql id="aliasField">
        si.service_name AS  si_service_name,
        si.service_icon AS  si_service_icon,
        si.service_img AS  si_service_img,
        si.service_img_key AS  si_service_img_key,
        si.price AS  si_price,
        si.price_unit AS  si_price_unit,
        si.service_content AS  si_service_content,
        si.remark AS  si_remark,
        si.is_online AS  si_is_online,
        si.service_category_id AS  si_service_category_id,
        si.shop_basic_id AS  si_shop_basic_id,
        si.is_delete AS  si_is_delete,
        si.add_time AS  si_add_time,
        si.update_time AS  si_update_time,
        si.id AS  si_id
        </sql>

    <resultMap id="baseResultMap" type="ServiceInfo">
        <id column="si_id" property="id"/>
        <result column="si_service_name" property="serviceName"/>
        <result column="si_service_icon" property="serviceIcon"/>
        <result column="si_service_img" property="serviceImg"/>
        <result column="si_service_img_key" property="serviceImgKey" javaType="string"/>
        <result column="si_price" property="price"/>
        <result column="si_price_unit" property="priceUnit"/>
        <result column="si_service_content" property="serviceContent"/>
        <result column="si_remark" property="remark"/>
        <result column="si_is_online" property="isOnline"/>
        <result column="si_service_category_id" property="serviceCategoryId"/>
        <result column="si_shop_basic_id" property="shopBasicId"/>
        <result column="si_is_delete" property="isDelete"/>
        <result column="si_add_time" property="addTime"/>
        <result column="si_update_time" property="updateTime"/>
    </resultMap>

    <!-- 新增-->
    <insert id="save" parameterType="ServiceInfo">
        INSERT INTO
        <include refid="tableName"/>
        (<include refid="field"/>)
        VALUES
        (
        #{serviceName},
        #{serviceIcon},
        #{serviceImg},
        #{serviceImgKey},
        #{price},
        #{priceUnit},
        #{serviceContent},
        #{remark},
        #{isOnline},
        #{serviceCategoryId},
        #{shopBasicId},
        #{isDelete},
        #{addTime},
        #{updateTime},
        #{id}
        )
    </insert>

    <!--修改-->
    <update id="updateBySelective" parameterType="ServiceInfo">
        update
        <include refid="tableName"/>
        <set>
            <if test="serviceName != null ">service_name=#{serviceName},</if>
            <if test="serviceIcon != null ">service_icon=#{serviceIcon},</if>
            <if test="serviceImg != null ">service_img=#{serviceImg},</if>
            <if test="serviceImgKey != null ">service_img_key=#{serviceImgKey},</if>
            <if test="price != null ">price=#{price},</if>
            <if test="priceUnit != null ">price_unit=#{priceUnit},</if>
            <if test="serviceContent != null ">service_content=#{serviceContent},</if>
            <if test="remark != null ">remark=#{remark},</if>
            <if test="isOnline != null ">is_online=#{isOnline},</if>
            <if test="serviceCategoryId != null ">service_category_id=#{serviceCategoryId},</if>
            <if test="shopBasicId != null ">shop_basic_id=#{shopBasicId},</if>
            <if test="isDelete != null ">is_delete=#{isDelete},</if>
            <if test="addTime != null ">add_time=#{addTime},</if>
            <if test="updateTime != null ">update_time=#{updateTime},</if>
        </set>
        WHERE
        id=#{id}
    </update>
    <!--条件查询所有-->
    <select id="selectBySelective" parameterType="ServiceInfo" resultMap="baseResultMap">
        select
        <include refid="aliasField"/>
        from
        <include refid="tableName"/>
        AS si
        <where>
            si.is_delete = 0
            <if test="serviceName != null and serviceName != ''">AND si.service_name=#{serviceName}</if>
            <if test="serviceIcon != null and serviceIcon != ''">AND si.service_icon=#{serviceIcon}</if>
            <if test="serviceImg != null and serviceImg != ''">AND si.service_img=#{serviceImg}</if>
            <if test="price != null ">AND si.price=#{price}</if>
            <if test="priceUnit != null and priceUnit != ''">AND si.price_unit=#{priceUnit}</if>
            <if test="serviceContent != null and serviceContent != ''">AND si.service_content=#{serviceContent}</if>
            <if test="remark != null and remark != ''">AND si.remark=#{remark}</if>
            <if test="isOnline != null ">AND si.is_online=#{isOnline}</if>
            <if test="serviceCategoryId != null and serviceCategoryId != ''">AND
                si.service_category_id=#{serviceCategoryId}
            </if>
            <if test="shopBasicId != null and shopBasicId != ''">AND si.shop_basic_id=#{shopBasicId}</if>
            <if test="isDelete != null ">AND si.is_delete=#{isDelete}</if>
            <if test="addTime != null ">AND si.add_time=#{addTime}</if>
            <if test="updateTime != null ">AND si.update_time=#{updateTime}</if>
        </where>
    </select>

    <!--条件查询分页-->
    <select id="getServiceInfoByPage" parameterType="Page" resultMap="baseResultMap">
        select
        <include refid="aliasField"/>
        from
        <include refid="tableName"/>
        AS si
        <where>
            si.is_delete = 0
            <if test="pd.entity.serviceName != null and pd.entity.serviceName != ''">AND UPPER(si.service_name) LIKE
                UPPER(concat('%',#{pd.entity.serviceName},'%'))
            </if>
            <if test="pd.entity.serviceIcon != null and pd.entity.serviceIcon != ''">AND
                si.service_icon=#{pd.entity.serviceIcon}
            </if>
            <if test="pd.entity.serviceImg != null and pd.entity.serviceImg != ''">AND
                si.service_img=#{pd.entity.serviceImg}
            </if>
            <if test="pd.entity.price != null ">AND si.price=#{pd.entity.price}</if>
            <if test="pd.entity.priceUnit != null and pd.entity.priceUnit != ''">AND
                si.price_unit=#{pd.entity.priceUnit}
            </if>
            <if test="pd.entity.serviceContent != null and pd.entity.serviceContent != ''">AND
                si.service_content=#{pd.entity.serviceContent}
            </if>
            <if test="pd.entity.remark != null and pd.entity.remark != ''">AND si.remark=#{pd.entity.remark}</if>
            <if test="pd.entity.isOnline != null ">AND si.is_online=#{pd.entity.isOnline}</if>
            <if test="pd.entity.serviceCategoryId != null and pd.entity.serviceCategoryId != ''">AND
                si.service_category_id=#{pd.entity.serviceCategoryId}
            </if>
            <if test="pd.entity.shopBasicId != null and pd.entity.shopBasicId != ''">AND
                si.shop_basic_id=#{pd.entity.shopBasicId}
            </if>
            <if test="pd.entity.isDelete != null ">AND si.is_delete=#{pd.entity.isDelete}</if>
            <if test="pd.entity.addTime != null ">AND si.add_time=#{pd.entity.addTime}</if>
            <if test="pd.entity.updateTime != null ">AND si.update_time=#{pd.entity.updateTime}</if>
        </where>
    </select>

    <!--批量插入操作-->
    <insert id="saveByList" parameterType="ServiceInfo">
        INSERT INTO
        <include refid="tableName"/>
        (<include refid="field"/>)
        VALUES
        <foreach item="t" index="index" collection="list" separator=",">
            (
            #{t.serviceName},
            #{t.serviceIcon},
            #{t.serviceImg},
            #{t.serviceImgKey},
            #{t.price},
            #{t.priceUnit},
            #{t.serviceContent},
            #{t.remark},
            #{t.isOnline},
            #{t.serviceCategoryId},
            #{t.shopBasicId},
            #{t.isDelete},
            #{t.addTime},
            #{t.updateTime},
            #{t.id}
            )
        </foreach>
    </insert>

    <!--批量物理删除操作-->
    <delete id="physicsDeleteArray" parameterType="String">
        delete from
        <include refid="tableName"/>
        where
        id in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <!--批量软删除操作-->
    <update id="softDeleteArray" parameterType="String">
        update
        <include refid="tableName"/>
        set
        is_delete = 1
        where
        id in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
</mapper>